@charset "utf-8";
/* CSS Document */
p{
	color:white;
	font-weight: bold;
}
p.bg1{
	

	background-image: url("../image/bg1.jpg");
	padding: 10px;
	width: 300px;
	margin: 5px;
}
p.bg2{
	background-image: url("../image/bg2.jpg");
	padding: 10px;
	width: 300px;
	margin: 5px;
}
p.bg3{
	background-image: url("../image/bg3.jpg");
	padding: 10px;
	width: 300px;
	margin: 5px;
}

