@charset "utf-8";
/* CSS Document */
body {
	font-family: "Arial",Times New Roman, serif;
}
.title{
	font-size: 45px;
	color : blue;
	font-weight: bold;
}
.line{
	height: 2px;
	background-color: aqua;
	border: none;
}
.menu{
	background-color: aqua;
	padding: 12px;
	border: none;
}
.menu span{
	margin: 0px 10px 0px 10px;
}
.title2{
	font-size: 25px;
	font-weight: bold;
}
.image{
	float: right;
	width: 400px;
	height: 250px;
	padding: 10px;
}