@charset "utf-8";
/* CSS Document */
table{
	border: 1px solid;
}
th{
	color: white;
	background-color: #7C7C7C;
}
tr.lightgray{
	background-color:lightgray;
}
tr.stronggray{
	background-color:darkgray;
}
