@charset "utf-8";
/* CSS Document */
a:link {
	font-weight: bold;
	color :green;
	text-decoration: none;
}
a:active{
	font-weight: bold;
	color :yellow;
	text-decoration: underline;
}
a:hover {
	font-weight: bold;
	color :red;
	text-decoration: underline;
}
a:visited {
	color: lightblue
}